<% if @user.errors.any? %>
  <% @user.errors.messages.each  do |msg|%>
    <%= msg%>
  <%end%>
<%end%>


<%= form_for @user do |f| %>
<table>
  <tr>
    <td><%= f.label :name%></td>
    <td><%= f.text_field :name%></td>
</tr>
  <tr>
    <td><%= f.label :email%></td>
    <td><%= f.text_field :email%></td>
  </tr>
  <tr>
    <td><%= f.label :contact_no%></td>
    <td><%= f.text_field :contact_no%></td>
  </tr>
  <tr>
    <td><%= f.submit "Edit"%></td>
  </tr>
</table>
<%end%>
<%= link_to "Go Back", :controller=>"users", :action=>"index"%>
~                                                                          
